*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


nav{
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    user-select: none;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
}
nav ul li{
    display: flex;
    list-style: none;
    margin: 10px 20px;
    
}

li a:focus{
    color: orange;
}
nav ul li a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
    
}


nav ul li a:hover{
    color:orange;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem 0;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
      font-size: 50px;
      color:#212121;
      margin-bottom:20px;
}
button{
    border: none;
    outline: none;
    background: #000;
    padding: .7rem 1rem;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    margin: .8rem 0;
    user-select: none;
}

button:hover{
    background: orange;

}
span{
    color:orange;
}

.detel p{
    color:#555;
    line-height: 22px;
}
.detel a{
    background:#212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    background: url('./color.png') center no-repeat;
    background-size: cover;
    user-select: none;
}

  .images img{
    height: 100%;
  }
  .images .color{
       position: relative;
       width: 150%;
  }

  .images:hover .color{
    bottom: 40px;
  }
  .images:hover .dinesh{
    left: 45%;
  }

